/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/
/* GO! */
.hive{
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cell {
    position: relative;
    display:block;
    float:left;
    width:104px;
    margin-right:4px;
    height:60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cell a {
    text-decoration:none;
    color:#000;
    cursor:pointer;
}
.cell:before {
  content:"";
  display:block;
  width:0;
  height:0;
  border-bottom:30px solid #ec0;
  border-left:52px dotted transparent;
  border-right:52px dotted transparent;
  position: absolute;
  left: 0;
  top: -30px;
}
.cell {
  display:block;
  width:104px;
  height:60px;
  line-height:59px;
  text-align:center;
  background:#ec0;
  font-size:11px;
  font-family: arial, veradana, sans-serif;
  transform: rotate(-90deg);
}
.cell:nth-of-type(even){
    margin-top: 30px;
}
.cell:nth-of-type(odd){
    margin-top: -30px;
}
.cell > *{
  display: block;
  transform: rotate(90deg);
}
.cell:after {
  content:"";
  display:block;
  width:0;
  height:0;
  overflow:hidden;
  border-top:30px solid #ec0;
  border-left:52px dotted transparent;
  border-right:52px dotted transparent;
  position: absolute;
  left: 0;
  bottom: -30px;
}


.cell:hover a {white-space:normal; color:#fff;}
.cell:hover:before {border-bottom-color:#c90;}
.cell:hover {background:#c90;}
.cell:hover:after {border-top-color:#c90;}


